@media(max-width:1250px) {
    .benefits_images {
        width: 40%;
    
    }
}
@media (max-width:1200px) {
    .top_slider-text {
        text-align: right;
        display:inline-flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .top_slider-text span {
        margin: 10px 0;
    }
   
}
@media (max-width: 1140px) {
    .rent_inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rent_content {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width:1000px) {
    .top_hedding {
       display: block; 
    }
    .top_content {
        width: 100%;
        padding-top: 30px;
    }
    .top_slider {
        width: 100%;
    }
    .top_botton {
        display: block;
    }
    .top_links {
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }
    .top_items {
        width: 100%;
    }
    .benefits_content{
        width: 100%;
        margin-top: 30px;
    }
    .benefits_items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .benefits_text + .benefits_text {
        width: 100%;
    }
    .footer .menu {
        display: none;
    }
}
@media(max-width: 860px){
    .menu_list{
        display: block;
        position: absolute;
        top:100px;
        right: 0;
        left: 0;
        background-color: #332208;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all 0.5s;
    }
    .menu_list-link{
        padding: 20px 0;
        display: block;
    }
    .menu_list.menu_list--active{
        transform: translateY(0);
    }

    .menu_btn{
        display: block;
        cursor: pointer;
        width: 35px;
        height: 24px;
        outline: none;
        border: none;
        background-color: transparent;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        position: relative;

    }
    .menu_btn::before{
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }
    .menu{
        order: 1;
    }
    .rent_item {
        margin: 30px;
    }
    .feedback_photo {
        display: none;
    }
    .footer,
    .feedback,
    .reviews,
    .benefits,
    .rent {
        padding: 50px 0;
    }
}
@media(max-width:650px) {
    .rent_item {
        width: 100%;
        min-height: 245px;
    }
    .rent_item-title {
        margin-bottom: 20px;
    }
    .rent_content {
        text-align: center;
    }
}
@media(max-width: 525px) {
    .top_title {
        min-width: 365px;
        
    }
    .top_text {
        min-width: 365px;
    }
    .top_items {
        flex-wrap: wrap;
    }
    .top_item {
        margin: 20px;
    }
    .top_slider-text {
        padding-top: 0;
    }
    .benefits_images {
        width: 70%;
    }
    .benefits_list_item {
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;
    }
    .benefits_list_item::after{
        right: auto;
        left: 0;
    }
}
@media( max-width: 450px) {
    .footer_top {
        flex-direction: column;
        align-items: center;
    }
    .footer .phone {
        margin-top: 30px;
        display: inline-block;

    }
}
@media(max-width:410px) {
    .top_item {
        width: 100%;
    }
    .top_links {
        text-align: center;  
    }
    .top_link {
        margin: 10px 15px;
        display: inline-block;
    }
    .top_link + .top_link {
        margin-left: 0;
    }
    .top_slider-text {
        text-align: right;
    }
    .top_slider-text span {
        display: block;
        margin: 10px 0;
    }
    .rent_item {
        margin: 30px 0;
    }

}